<section class="light">
    <div class="container py-2">
        <!-- <div class="h1 text-center text-dark" id="pageHeaderTitle">BOOTCAMP</div> -->
        <br> <br>

        <article *ngFor="let bootcamp of bootcamps" class="postcard light blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a href="#">{{bootcamp.name}}</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i> Başlangıç:{{bootcamp.dateStart}} - Bitiş:
                        {{bootcamp.dateEnd}}
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{bootcamp.about}} Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Quibusdam rem blanditiis facere perspiciatis modi.</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                    <li class="tag__item play blue">
                        <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>