<div class="row mt-5">
  <div class="col-md-12">
    <div
      class="container shadow rounded-5 p-5 mt-5 mb-5"
      style="background-image: linear-gradient(126deg, #e9e9ff, #e2e7eb)"
    >
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://www.ikiteknik.com/images/anasayfa_slayt/bilgisayar_it_kurslari.png"
            alt=""
          />
        </div>
        <div class="col-md-6">
          <h1 class="display-2 mb-5 text-center">
            Teknoloji kariyerine ilk adım: Bootcamp
          </h1>
          <p class="display-6">Ücretsiz öğren, mezun ol, çalışmaya başla.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-2">
  <h3 class="text-center display-2 mb-4">Başvuruya Açık Bootcampler</h3>
  <hr />

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let bootcamp of bootcamps">
      <div class="card shadow-lg rounded-4">
        <img
          src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://cdn.filestackcontent.com/ujZYJ3lwSOihtnbP9LsG"
          class="card-img-top p-2 rounded-4"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">
            {{ bootcamp.name }}
          </h5>
          <p class="card-text">Eğitmen: {{ bootcamp.instructorName }}</p>
          <p class="card-text">Detay: {{ bootcamp.about }}</p>
          <p class="card-text">
            <small class="text-muted"
              >Başlangıç Tarihi {{ bootcamp.dateStart }}</small
            >
            <br />
            <small class="text-muted"
              >Bitiş Tarihi {{ bootcamp.dateEnd }}</small
            >

            <button
              class="btn btn-primary d-flex"
              routerLink="/home-bootcamp-detail/{{ bootcamp.id }}"
            >
              Detay
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-home-footer></app-home-footer>
