<div class="row mt-4">
  <div class="col-md-12">
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://www.casgem.gov.tr/Uploads/Pages/sayfa/OFSIA73841/dosya-22072022093551-9D0sK.png"
            class="d-block w-100 img-thumbnail"
            style="height: 300px; width: 1000px"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.casgem.gov.tr/Uploads/Pages/sayfa/967/sosyal-tesislerimiz-gckch-lg.jpg"
            class="d-block w-100 img-thumbnail"
            style="height: 300px; width: 1000px"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="http://www.odaajans.com/userfiles/image/Gallery/casgem-ile-ab-projesi/casgem-ile-ab.jpg"
            class="d-block w-100 img-thumbnail"
            style="width: 1000; height: 300px"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mt-4">
    <a class="card2 shadow-lg rounded-5" routerLink="/admin/admin-applicant">
      <h3>Toplam Aday Sayısı</h3>
      <p class="small" style="text-align: center">
        <br />
        <br />

        <b style="font-size: 40px">{{ applicants.length }}</b>
      </p>

      <div class="go-corner" routerLink="/admin/admin-applicant">
        <div class="go-arrow">→</div>
      </div>
    </a>
  </div>

  <div class="col-md-4 mt-4">
    <a class="card2 shadow-lg rounded-5" routerLink="/admin/admin-instructor">
      <h3>Toplam Eğitmen Sayısı</h3>
      <p class="small" style="text-align: center">
        <br />
        <br />
        <b style="font-size: 40px">{{ instructors.length }}</b>
      </p>

      <div class="go-corner" routerLink="/admin/admin-instructor">
        <div class="go-arrow">→</div>
      </div>
    </a>
  </div>
  <div class="col-md-4 mt-4">
    <a class="card2 shadow-lg rounded-5" routerLink="/admin/admin-employee">
      <h3>Toplam Çalışanlar Sayısı</h3>
      <p class="small" style="text-align: center">
        <br />
        <br />
        <b style="font-size: 40px">{{ employees.length }}</b>
      </p>

      <div class="go-corner" routerLink="/admin/admin-employee">
        <div class="go-arrow">→</div>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mt-4">
    <a class="card2 shadow-lg rounded-5" routerLink="/admin/admin-bootcamp">
      <h3>Toplam Bootcamp Sayısı</h3>
      <p class="small" style="text-align: center">
        <br />
        <br />
        <b style="font-size: 40px">{{ bootcamps.length }}</b>
      </p>

      <div class="go-corner" routerLink="/admin/admin-bootcamp">
        <div class="go-arrow">→</div>
      </div>
    </a>
  </div>
  <div class="col-md-4 mt-4">
    <a class="card2 shadow-lg rounded-5" routerLink="/admin/admin-application">
      <h3>Toplam Başvurular Sayısı</h3>
      <p class="small" style="text-align: center">
        <br />
        <br />
        <b style="font-size: 40px">{{ bootcamps.length }}</b>
      </p>

      <div class="go-corner" routerLink="/admin/admin-application">
        <div class="go-arrow">→</div>
      </div>
    </a>
  </div>
  <div class="col-md-4 mt-4">
    <a class="card2 shadow-lg rounded-5" routerLink="/admin/admin-blacklist">
      <h3>Toplam Kara Liste Sayısı</h3>
      <p class="small" style="text-align: center">
        <br />
        <br />
        <b style="font-size: 40px">{{ blacklists.length }}</b>
      </p>

      <div class="go-corner" routerLink="/admin/admin-blacklist">
        <div class="go-arrow">→</div>
      </div>
    </a>
  </div>
</div>
