<h3>Kara Liste Detay</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">applicantId</th>
      <th scope="col">Tarih</th>
      <th scope="col">Hakkında</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let blacklist of blacklists">
      <td>{{ blacklist.id }}</td>
      <td>{{ blacklist.applicantId }}</td>
      <td>{{ blacklist.date }}</td>
      <td>{{ blacklist.reason }}</td>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/black-list">
          Dön
        </button>
      </td>
      <td><button type="button" class="btn btn-warning">Düzenle</button></td>
      <td><button type="button" class="btn btn-danger">Sil</button></td>
    </tr>
  </tbody>
</table>
