<html>
  <head> </head>

  <body>
    <div class="area"></div>
    <nav class="main-menu">
      <ul>
        <li>
          <a>
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text" routerLink=""> Anasayfa </span>
          </a>
        </li>
        <li class="has-subnav">
          <a>
            <i class="fa fa-laptop fa-2x"></i>
            <span class="nav-text" routerLink="/bootcamp-list"> Bootcamp </span>
          </a>
        </li>
        <li class="has-subnav">
          <a>
            <i class="fa fa-list fa-2x"></i>
            <span class="nav-text" routerLink="/application-list">
              Başvurular
            </span>
          </a>
        </li>
        <li class="has-subnav">
          <a>
            <i class="fa fa-folder-open fa-2x"></i>
            <span class="nav-text" routerLink="/black-list"> Kara Liste </span>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-bar-chart-o fa-2x"></i>
            <span class="nav-text" routerLink="/applicant-list"> Adaylar </span>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-font fa-2x"></i>
            <span class="nav-text" routerLink="/instructor-list">
              Eğitmenler
            </span>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-table fa-2x"></i>
            <span class="nav-text" routerLink="/employee-list">
              Çalışanlar
            </span>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-map-marker fa-2x"></i>
            <span class="nav-text"> Maps </span>
          </a>
        </li>
        <li>
          <a>
            <i class="fa fa-info fa-2x"></i>
            <span class="nav-text"> Documentation </span>
          </a>
        </li>
      </ul>

      <ul class="logout">
        <li>
          <a>
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text"> Logout </span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
