<h3>Çalışan Liste Detay</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">İsim</th>
      <th scope="col">Soyadı</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Şifre</th>
      <th scope="col">TC.Kimlik</th>
      <th scope="col">Doğum Tarihi</th>
      <th scope="col">Durum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.password }}</td>
      <td>{{ employee.nationalIdentity }}</td>
      <td>{{ employee.dateOfBirth }}</td>
      <td>{{ employee.position }}</td>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/admin/admin-employee">
          Dön
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-warning" routerLink="/employee-update/{{ employee.id }}">
          Düzenle
        </button>
      </td>
    </tr>
  </tbody>
</table>