<app-responsivenavbar></app-responsivenavbar>

<br /><br /><br /><br /><br />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>

<div class="section_our_solution ms-5">
  <div class="row">
    <div
      class="col-lg-12 col-md-12 ms-5 col-sm-12"
      style="width: 600px; float: left"
    >
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="{{ employee.image }}" class="w-100" />
            </div>
            <div class="solu_title">
              <h3>{{ employee.firstName }} {{ employee.lastName }}</h3>
            </div>
            <div class="solu_description">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="text-align: center">Id</th>
                    <th scope="col" style="text-align: center">İsim</th>
                    <th scope="col" style="text-align: center">Soyisim</th>
                    <th scope="col" style="text-align: center">Email</th>
                    <th scope="col" style="text-align: center">Şifre</th>
                    <th scope="col" style="text-align: center">TC.No</th>
                    <th scope="col" style="text-align: center">D-Tarih</th>
                    <th scope="col" style="text-align: center">Durumu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: center">{{ employee.id }}</td>
                    <td style="text-align: center">
                      {{ employee.firstName }}
                    </td>
                    <td style="text-align: center">{{ employee.lastName }}</td>
                    <td style="text-align: center">{{ employee.email }}</td>
                    <td style="text-align: center">{{ employee.password }}</td>
                    <td style="text-align: center">
                      {{ employee.nationalIdentity }}
                    </td>
                    <td style="text-align: center">
                      {{ employee.dateOfBirth }}
                    </td>
                    <td style="text-align: center">
                      {{ employee.position }}
                    </td>
                  </tr>
                </tbody>
              </table>

              <button
                type="button"
                routerLink="/admin/admin-employee"
                class="read_more_btn"
              >
                Geri Dön
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
