<app-responsivenavbar></app-responsivenavbar>

<br /><br /><br /><br /><br />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>

<div class="section_our_solution ms-5">
  <div class="row">
    <div
      class="col-lg-12 col-md-12 ms-5 col-sm-12"
      style="width: 600px; float: left"
    >
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="{{ bootcamp.image }}" class="w-100" />
            </div>
            <div class="solu_title">
              <h3>Bootcamp</h3>
            </div>
            <div class="solu_description">
              <table class="table">
                <thead>
                  <tr>
                    <!-- <th scope="col">Id</th> -->
                    <th scope="col">Eğitmen</th>
                    <th scope="col">İsim</th>
                    <th scope="col">Başlangıç Tarihi</th>
                    <th scope="col">Bitiş Tarihi</th>
                    <th scope="col">Durumu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- <td>{{ bootcamp.id }}</td> -->
                    <td>{{ bootcamp.instructorName }}</td>
                    <td>{{ bootcamp.name }}</td>
                    <td>{{ bootcamp.dateStart }}</td>
                    <td>{{ bootcamp.dateEnd }}</td>
                    <td>{{ bootcamp.state }}</td>
                  </tr>
                </tbody>
              </table>
              <button
                type="button"
                routerLink="/admin/admin-bootcamp"
                class="read_more_btn"
              >
                Geri Dön
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
