<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Kara Listeye Ekle</h5>
      </div>
      <div class="card-body">
        <!-- [formGroup]="carAddForm" ile map işlemini yapmış oluruz. -->
        <form [formGroup]="blackListAddForm">
          <div style="margin-top: 5px" class="form-group">
            <!-- anguların önemsediği kısım formControlName dir. İlişkilendirmeyi bunun üzerinden yapar. -->
            <input
              type="number"
              id="applicantId"
              formControlName="applicantId"
              class="form-control"
              placeholder="Aday Id Giriniz..."
            />
          </div>
          <div style="margin-top: 5px" class="form-group">
            <input
              type="text"
              id="date"
              formControlName="date"
              class="form-control"
              placeholder="Tarih Giriniz..."
            />
          </div>
          <div style="margin-top: 5px" class="form-group">
            <input
              type="text"
              id="reason"
              formControlName="reason"
              class="form-control"
              placeholder="Sebebini Yazınız ..."
            />
          </div>
        </form>
      </div>
      <div class="car-footer">
        <div class="d-grid gap-2">
          <button
            style="margin-bottom: 10px; margin-left: 15px; margin-right: 15px"
            class="btn btn-primary"
            type="button"
            (click)="add()"
            routerLink="/black-list"
          >
            Ekle
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
