<app-responsivenavbar></app-responsivenavbar>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Başvuru Güncelle</title>
  </head>

  <body>
    <form
      [formGroup]="applicationUpdateForm"
      *ngIf="applicationUpdateForm"
      method="post"
      class="shadow mt-4 border rounded-5"
    >
      <h1>Başvuru Güncelle</h1>
      <fieldset>
        <label for="name">Başvuran İsmi:</label>
        <select
          id="userId"
          formControlName="userId"
          class="form-select rounded-0"
        >
          <option type="number" [value]="null" disabled hidden></option>
          <option
            type="number"
            *ngFor="let applicant of applicants"
            [value]="applicant.id"
          >
            {{ applicant.firstName }} {{ applicant.lastName }}
          </option>
        </select>
      </fieldset>
      <fieldset>
        <label for="name">Bootcamp İsmi:</label>
        <select
          id="bootcampId"
          formControlName="bootcampId"
          class="form-select rounded-0"
        >
          <option type="number" [value]="null" disabled hidden></option>
          <option
            type="number"
            *ngFor="let bootcamp of bootcamps"
            [value]="bootcamp.id"
          >
            {{ bootcamp.name }}
          </option>
        </select>
      </fieldset>
      <fieldset>
        <label for="name">Uygunluk Durumu</label>
        <input formControlName="state" type="text" id="name" name="user_name" />
      </fieldset>
      <div class="row">
        <div class="col-md-6">
          <button
            class="button"
            routerLink="/admin/admin-application"
            type="submit"
          >
            Geri Dön
          </button>
        </div>
        <div class="col-md-6">
          <button
            class="buttonA"
            (click)="updateApplication()"
            routerLink="/admin/admin-application"
            type="submit"
          >
            Düzenle
          </button>
        </div>
      </div>
    </form>
  </body>
</html>
