<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eğitmen Güncelle</title>
</head>

<body>
  <form [formGroup]="intructorUpdateForm" *ngIf="intructorUpdateForm" method="post" class="shadow mt-4 border">
    <h1>
      {{ intructor.firstName }} {{ intructor.lastName }}

    </h1>

    <fieldset>
      <label for="name">Ad:</label>
      <input formControlName="firstName" type="text" id="firstName" name="user_name" />
    </fieldset>
    <fieldset>
      <label for="name">Soyad:</label>
      <input formControlName="lastName" type="text" id="lastName" name="user_name" />
    </fieldset>


    <fieldset>
      <label for="name">Email:</label>
      <input formControlName="email" type="text" id="email" name="user_name" />
    </fieldset>
    <fieldset>
      <label for="name">Şirket Adı:</label>
      <input formControlName="companyName" type="text" id="companyName" name="user_name" />
    </fieldset>

    <div class="row">
      <div class="col-md-6">
        <button class="button" routerLink="/admin/admin-instructor" type="submit">
          Geri Dön
        </button>
      </div>
      <div class="col-md-6">
        <button class="buttonA" (click)="updateIntructor()" routerLink="/admin/admin-instructor" type="submit">
          Düzenle
        </button>
      </div>
    </div>
  </form>
</body>

</html>