<br>
<a name="bootcampler">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let bootcamp of bootcamps">
            <div class="card shadow-lg rounded-4 bootcampcard">
                <img src="{{bootcamp.image}}" class="card-img-top p-2 rounded-4" alt="..." />
                <div class="card-body">
                    <a name="bootcampler">
                        <h5 class="card-title text-center">
                            {{ bootcamp.name }}
                        </h5>
                    </a>

                    <p class="card-text">Eğitmen: {{ bootcamp.instructorName }}</p>
                    <p class="card-text">Detay: {{ bootcamp.about }}</p>
                    <p class="card-text">
                        <small class="text-muted">Başlangıç Tarihi {{ bootcamp.dateStart }}</small>
                        <br />
                        <small class="text-muted">Bitiş Tarihi {{ bootcamp.dateEnd }}</small>
                        <br>
                        <small class="text-muted" style=" text-align: center">Başvuru
                            Durumu: {{bootcamp.state==1?"Aktif":"Aktif Değil"}}
                        </small>
                        <button *ngIf="bootcamp.state==1" type="button" class="btn btn-outline-success m-2 shadow ms-5"
                            (click)="add(bootcamp)">
                            Başvur
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</a>