<div class="row">
  <div class="col-md-2 ms-5">

    <div class="sidebar pe-4 pb-3 border rounded shadow-lg mt-4 ms-4" style="height: 90%">
      <nav class="navbar">
        <a routerLink="/applicant-page" class="navbar-brand mx-4 mb-3">
          <h5 class="text-primary"><i class="fa fa-home me-2"></i>Eğitmen Paneli</h5>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
          <div class="position-relative">
            <img class="rounded-circle"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQihyZtmBuy7E75HPllahoZEVxR6FLbSMHwqr2lpV8&s"
              alt="" style="width: 40px; height: 40px" />
            <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
            </div>
          </div>
          <div class="ms-3">
            <h6 class="mb-0">Jhon Doe</h6>
            <span>Aday</span>
          </div>
        </div>
        <div class="navbar-nav w-100">
          <a routerLink="instructor-page" class="nav-item nav-link active"><i
              class="fa fa-tachometer-alt me-2"></i>Eğitmen
            Sayfası</a>
          <a routerLink="instructor-bootcamp" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Bootcamp</a>
          <a routerLink="instructor-applicant" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Adaylar</a>




          <div class="navbar-nav w-100">
            <a (click)="logout()" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Çıkış Yap</a>
          </div>
        </div>

      </nav>
    </div>

  </div>

  <div class="col-md-8 ms-5 mb-5" style="height: 100%">
    <router-outlet></router-outlet>
  </div>
</div>