<h3>Başvurular Detay</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">İsim</th>
      <th scope="col">Soyisim</th>
      <th scope="col">Email</th>
      <th scope="col">Şifre</th>
      <th scope="col">TC No</th>
      <th scope="col">D-Tarihi</th>
      <th scope="col">Hakkında</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of applications">
      <td>{{ application.id }}</td>
      <td>{{ application.userId }}</td>
      <td>{{ application.bootcampId }}</td>
      <td>{{ application.state }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/application-list"
        >
          Dön
        </button>
      </td>
      <td><button type="button" class="btn btn-warning">Düzenle</button></td>
      <td><button type="button" class="btn btn-danger">Sil</button></td>
    </tr>
  </tbody>
</table>
