<br><br><br><br><br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="section_our_solution">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" style="width:600px; float: left;">
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <!-- <img src="{{application.image}}" class="w-100" /> -->
            </div>
            <div class="solu_title">
              <h3>Başvuru Detay</h3>
            </div>
            <div class="solu_description">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Başvuru Id</th>
                    <th scope="col">Kullanıcı Id</th>
                    <th scope="col">Bootcamp Id</th>
                    <th scope="col">Uygunluk Durumu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ application.id }}</td>
                    <td>{{ application.userId }}</td>
                    <td>{{ application.bootcampId }}</td>
                    <td>{{ application.state }}</td>
                  </tr>
                </tbody>
              </table>
              <button type="button" routerLink="/admin/admin-application" class="read_more_btn">Geri Dön</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>