<h3>Başvurular Detay</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">İsim</th>
      <th scope="col">Soyisim</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ application.id }}</td>
      <td>{{ application.userId }}</td>
      <td>{{ application.bootcampId }}</td>
      <td>{{ application.state }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/admin/admin-application"
        >
          Dön
        </button>
      </td>
      <!-- <td><button type="button" class="btn btn-warning"
          routerLink="/application-update/{{application.id}}">Düzenle</button></td> -->
    </tr>
  </tbody>
</table>
