<div class="bg-light shadow-lg mt-4 border p-5 rounded h-100 p-4">
  <div class="mb-4">
    <div style="display: flex; justify-content: space-evenly; margin-top: 10px">
      <div>
        <h2 style="margin-left: 180px">Adaylar Listesi</h2>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-outline-success shadow m-2"
          routerLink="applicant-add"
        >
          Aday Ekle
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="text-align: center">Aday Numarası</th>
            <th scope="col" style="text-align: center">İsim</th>
            <!-- <th scope="col" style="text-align: center">Soyisim</th> -->
            <th scope="col" style="text-align: center">Email</th>
            <th colspan="4">
              <input
                type="text"
                placeholder="Aday arayın..."
                class="form-control"
                id="brandFilter"
                [(ngModel)]="filterApplicant"
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let applicant of applicants | applicantfilter : filterApplicant
            "
          >
            <td style="text-align: center">{{ applicant.id }}</td>
            <td style="text-align: center">{{ applicant.firstName }}</td>
            <!-- <td style="text-align: center">{{ applicant.lastName }}</td> -->
            <td style="text-align: center">{{ applicant.email }}</td>

            <td>
              <button
                type="button"
                class="btn btn-outline-secondary shadow m-2"
                routerLink="applicant-detail//{{ applicant.id }}"
              >
                Detaya Git
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-outline-warning shadow m-2"
                routerLink="applicant-update/{{ applicant.id }}"
              >
                Düzenle
              </button>
            </td>
            <td>
              <button
                (click)="deleteApplicant(applicant.id)"
                type="button"
                class="btn btn-outline-danger shadow m-2"
              >
                Aday Sil
              </button>
            </td>
            <td>
              <button
                routerLink="blacklist-add/{{ applicant.id }}"
                type="button"
                class="btn btn-outline-secondary shadow m-2"
              >
                Kara Liste ->
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
