<app-responsivenavbar></app-responsivenavbar>

<br /><br /><br /><br /><br />

<div class="section_our_solution responsiveDetail ms-5">
  <div class="row">
    <div class="col ms-5">
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div class="solution_card responsiveDetail">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="{{ instructor.image }}" class="w-100" />
            </div>
            <div class="solu_title">
              <h3>{{ instructor.firstName }} {{ instructor.lastName }}</h3>
            </div>
            <div class="solu_description">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="text-align: center">Id</th>
                    <th scope="col" style="text-align: center">İsim</th>
                    <th scope="col" style="text-align: center">Soyisim</th>
                    <th scope="col" style="text-align: center">Email</th>
                    <th scope="col" style="text-align: center">Şirket</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: center">{{ instructor.id }}</td>
                    <td style="text-align: center">
                      {{ instructor.firstName }}
                    </td>
                    <td style="text-align: center">
                      {{ instructor.lastName }}
                    </td>
                    <td style="text-align: center">{{ instructor.email }}</td>
                    <td style="text-align: center">
                      {{ instructor.companyName }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <button
                type="button"
                routerLink="/admin/admin-instructor"
                class="read_more_btn"
              >
                Geri Dön
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
