<h3>Eğitmen Liste Detay</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">applicantId</th>
      <th scope="col">Tarih</th>
      <th scope="col">Hakkında</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ instructor.id }}</td>
      <td>{{ instructor.firstName }}</td>
      <td>{{ instructor.lastName }}</td>
      <td>{{ instructor.email }}</td>
      <td>{{ instructor.companyName }}</td>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/admin/instructor">
          Dön
        </button>
      </td>
      <td><button type=" button" class="btn btn-warning"
          routerLink="/instructor-update/{{instructor.id}}">Düzenle</button>
      </td>

    </tr>
  </tbody>
</table>