<h3>Kara Liste Detay</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">applicantId</th>
      <th scope="col">Tarih</th>
      <th scope="col">Hakkında</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let instructor of instructors">
      <td>{{ instructor.id }}</td>
      <td>{{ instructor.firstName }}</td>
      <td>{{ instructor.lastName }}</td>
      <td>{{ instructor.email }}</td>
      <td>{{ instructor.companyName }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/instructor-list"
        >
          Dön
        </button>
      </td>
      <td><button type="button" class="btn btn-warning">Düzenle</button></td>
      <td><button type="button" class="btn btn-danger">Sil</button></td>
    </tr>
  </tbody>
</table>
