<div class="row">
  <div class="col-md-12">
    <div
      class="container shadow rounded-5 p-5 mt-5 mb-5"
      style="
        background-image: linear-gradient(126deg, #e9e9ff, #e2e7eb);
        height: 596px;
      "
    >
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://www.ikiteknik.com/images/anasayfa_slayt/bilgisayar_it_kurslari.png"
            class="img-fluid"
            alt=""
            style="width: 498px"
          />
        </div>
        <div class="col-md-6">
          <h1 class="display-2 mb-5 text-center">Hakkımızda</h1>
          <p class="display-6" style="font-size: 22px">
            Profesyonel iş hayatındaki eğitimlerimizden ücretsiz bir şakilde
            faydalanarak, sektördeki yerinizi alabilirsiniz!
          </p>
          <p class="display-6" style="font-size: 22px">
            Projemiz, işini severek yapan, kendini her dim geliştiren bir ekip
            tarafından oluşturulmuş bir platformdur. Çalışma hayatındaki
            gereklilikleri eğitimlerimizde deneyimleme şansı bulunmaktadır.
          </p>
          <p class="display-6" style="font-size: 22px">
            Çalışma hayatındaki
            gereklilikleri eğitimlerimizde deneyimleme şansı bulunmaktadır.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <section>
      <div class="container">
        <div class="row">
          <div
            class="row row-cols-1 row-cols-md-2 row-cols-xl-4 row-cols-lg-3 g-4"
          >
            <div class="col">
              <div class="wrapper" style="height: 550px">
                <div class="profile-card hov" style="width: 300px">
                  <div class="profile-header">
                    <img
                      src="https://i.imgur.com/X2oObC4.png"
                      class="rounded-5"
                      alt=""
                    />
                  </div>
                  <div class="profile-body">
                    <div class="author-img">
                      <img
                        src="https://avatars.githubusercontent.com/u/64565872?v=4"
                        class="img-thumbnail"
                        alt=""
                      />
                    </div>
                    <div class="name">Hasan Saİd SERTKAYA</div>
                    <div class="intro">
                      <p>
                        <b>Full Stack Developer.</b>
                        Kırıkkale Üniversitesin'de Bilgisayar Mühendisliği
                        okudum. Geliştirdiğim projeler'e Linkedin hesabımda
                        görebilirsiniz
                      </p>
                    </div>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a
                            target="_blank"
                            href="https://www.linkedin.com/in/hasansaidsertkaya/"
                          >
                            <i class="fab fa-linkedin"></i>
                          </a>
                        </li>

                        <li>
                          <a
                            target="_blank"
                            href="https://www.instagram.com/saidsertkaya/"
                          >
                            <i class="fab fa-instagram"></i>
                          </a>
                        </li>
                        <li>
                          <a href="https://github.com/hasansaid">
                            <i class="fab fa-github"></i>
                          </a>
                        </li>
                        <li>
                          <a href="mailto:hasansaid1999@gmail.com">
                            <i class="fab fa-google-plus-g"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="wrapper">
                <div class="profile-card hov" style="width: 300px">
                  <div class="profile-header">
                    <img
                      src="https://i.imgur.com/X2oObC4.png"
                      class="rounded-5"
                      alt=""
                    />
                  </div>
                  <div class="profile-body">
                    <div class="author-img">
                      <img
                        src="https://avatars.githubusercontent.com/u/109044775?v=4"
                        class="img-thumbnail"
                        alt=""
                      />
                    </div>
                    <div class="name">Uğur MEYDANLI</div>
                    <div class="intro">
                      <p>
                        <b>Frontend Developer.</b>
                        Artvin Çoruh Üniversitesin'de Bilgisayar Programcılığı
                        okudum. Geliştirdiğim projeler'e Linkedin hesabımda
                        görebilirsiniz
                      </p>
                    </div>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a
                            target="_blank"
                            href="https://www.linkedin.com/in/ugurmeydanli/"
                          >
                            <i class="fab fa-linkedin"></i>
                          </a>
                        </li>

                        <li>
                          <a
                            target="_blank"
                            href="https://www.instagram.com/uqur.m08"
                          >
                            <i class="fab fa-instagram"></i>
                          </a>
                        </li>
                        <li>
                          <a href="https://github.com/ugur08">
                            <i class="fab fa-github"></i>
                          </a>
                        </li>
                        <li>
                          <a href="mailto:meydanliugur@gmail.com">
                            <i class="fab fa-google-plus-g"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="wrapper">
                <div class="profile-card hov" style="width: 300px">
                  <div class="profile-header">
                    <img
                      src="https://i.imgur.com/X2oObC4.png"
                      class="rounded-5"
                      alt=""
                    />
                  </div>
                  <div class="profile-body">
                    <div class="author-img">
                      <img
                        src="https://avatars.githubusercontent.com/u/116732583?v=4"
                        class="img-thumbnail"
                        alt=""
                      />
                    </div>
                    <div class="name">Enes KARACA</div>
                    <div class="intro">
                      <p>
                        <b>Frontend Developer.</b>
                        Hitit Üniversitesin'de Bilgisayar Programcılığı okudum.
                        Geliştirdiğim projeler'e Linkedin hesabımda
                        görebilirsiniz
                      </p>
                    </div>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a
                            target="_blank"
                            href="http://www.linkedin.com/in//enes-karaca0618"
                          >
                            <i class="fab fa-linkedin"></i>
                          </a>
                        </li>

                        <li>
                          <a
                            target="_blank"
                            href="https://www.instagram.com/enes_karaca_18/"
                          >
                            <i class="fab fa-instagram"></i>
                          </a>
                        </li>
                        <li>
                          <a href="https://github.com/karacaeness">
                            <i class="fab fa-github"></i>
                          </a>
                        </li>
                        <li>
                          <a href="mailto:eneskaraca0512@gmail.com">
                            <i class="fab fa-google-plus-g"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="wrapper">
                <div class="profile-card hov" style="width: 300px">
                  <div class="profile-header">
                    <img
                      src="https://i.imgur.com/X2oObC4.png"
                      class="rounded-5"
                      alt=""
                    />
                  </div>
                  <div class="profile-body">
                    <div class="author-img">
                      <img
                        src="https://avatars.githubusercontent.com/u/102599257?s=400&u=9c059769a5684391119ca294b0ba67bc3e490836&v=4"
                        class="img-thumbnail"
                        alt=""
                      />
                    </div>
                    <div class="name">Seyfettin TURAN</div>
                    <div class="intro">
                      <p>
                        <b>Frontend Developer.</b>
                        Bartın Üniversitesin'de Yönetim Bilişim Sistemleri
                        okudum. Geliştirdiğim projeler'e Linkedin hesabımda
                        görebilirsiniz
                      </p>
                    </div>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a
                            target="_blank"
                            href="https://tr.linkedin.com/in/seyfettinturan"
                          >
                            <i class="fab fa-linkedin"></i>
                          </a>
                        </li>

                        <li>
                          <a
                            target="_blank"
                            href="https://www.instagram.com/seyfettin_trn/"
                          >
                            <i class="fab fa-instagram"></i>
                          </a>
                        </li>
                        <li>
                          <a href="https://github.com/seyfettinturan">
                            <i class="fab fa-github"></i>
                          </a>
                        </li>
                        <li>
                          <a href="mailto:st.seyfettinturan@gmail.com">
                            <i class="fab fa-google-plus-g"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<app-home-footer></app-home-footer>
