<!--about section start -->
<div class="services_section layout_padding">
    <div class="container">
    <div class="row">
        <div class="col-md-8">
        <h1 class="services_taital">BOOTCAMP HİZMETİNE HOŞ GELDİNİZ</h1>
        <p class="services_text">Koşturmaca Team tarafından 2022 yılında bootcamp hizmeti vermek için kurulan bir şirketiz. Yeni kurulan bir şirket olmamıza rağmen gerek deneyimli eğitimcilerimiz gerekse deneyimli çalışanlarımız ile birlikte yüksek kalitede bootcamp deneyimi sunmaktayız. Uzmanlık alanımız yazılım olmakla birlikte çeşitli alanlarda bootcamp hizmeti sunmaktayız.</p>
        </div>
        <div class="col-md-4">
        <div><img src="https://st2.depositphotos.com/39817258/45738/i/450/depositphotos_457381182-stock-photo-bootcamp-word-written-wooden-cubes.jpg" class="image_1"></div>
        </div>
    </div>
    </div>
</div>
<!--about section end -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-4">Deneyimli Takım Üyeleri</h1>
        </div>
        <div class="row g-4" style="  display: flex; justify-content: center; align-items: center;">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid w-75" src="https://technext.github.io/solartec/img/team-1.jpg" alt="">
                        <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <h5>Uğur MEYDANLI</h5>
                        <span>Frontend Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid w-75" src="https://technext.github.io/solartec/img/team-2.jpg" alt="">
                        <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <h5>Enes KARACA</h5>
                        <span>Müdür</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-6" style="display: flex; justify-content: center; align-items: center; margin-top: 23px;">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid w-75" src="https://technext.github.io/solartec/img/team-3.jpg" alt="">
                        <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <h5>Hasan Said SERTKAYA</h5>
                        <span>Full Stack Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid w-75" src="https://technext.github.io/solartec/img/team-2.jpg" alt="">
                        <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <h5>Seyfettin TURAN</h5>
                        <span>Frontend Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->