<div class="row mt-5">
  <div class="col-md-12">
    <div
      class="container shadow rounded-5 p-5 mt-5 mb-5"
      style="background-image: linear-gradient(126deg, #e9e9ff, #e2e7eb)"
    >
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://www.ikiteknik.com/images/anasayfa_slayt/bilgisayar_it_kurslari.png"
            alt=""
          />
        </div>
        <div class="col-md-6">
          <h1 class="display-2 mb-5 text-center">Hakkımızda</h1>
          <p class="display-6">Ücretsiz öğren, mezun ol, çalışmaya başla.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-home-footer></app-home-footer>
