<div style="width: 100%">
  <div class="row">
    <div class="col-md-12">
      <div class="container mt-3 me-auto ms-auto">
        <ul class="breadcrumb">
          <li class="breadcrumb__item breadcrumb__item-firstChild">
            <span class="breadcrumb__inner">
              <span class="breadcrumb__title">Anasayfa</span>
            </span>
          </li>
          <li class="breadcrumb__item">
            <span class="breadcrumb__inner">
              <span class="breadcrumb__title">Bootcampler</span>
            </span>
          </li>
          <li class="breadcrumb__item">
            <span class="breadcrumb__inner">
              <span class="breadcrumb__title">Eğitmenler</span>
            </span>
          </li>
          <li class="breadcrumb__item breadcrumb__item-lastChild">
            <span class="breadcrumb__inner">
              <span class="breadcrumb__title">Hakkımızda</span>
            </span>
          </li>
          <li class="breadcrumb__item breadcrumb__item-lastChild">
            <span class="breadcrumb__inner">
              <span class="breadcrumb__title">İletişim</span>
            </span>
          </li>
          <li class="breadcrumb__item breadcrumb__item-lastChild">
            <span class="breadcrumb__inner">
              <span class="breadcrumb__title">Giriş Yap </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center"><router-outlet></router-outlet></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center"><app-home-footer></app-home-footer></div>
</div>
