<nav class="navbar navbar-expand-lg navbar-light bg-light responsive">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/admin/admin-page"
            ><i class="fa fa-tachometer-alt me-2"></i>Admin Sayfası</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/admin-applicant"
            ><i class="fa fa-th me-2"></i>Adaylar</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/admin-instructor"
            ><i class="fa fa-keyboard me-2"></i>Eğitmenler</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/admin-employee"
            ><i class="fa fa-table me-2"></i>Çalışanlar</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/admin-bootcamp"
            ><i class="fa fa-chart-bar me-2"></i>Bootcampler</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/admin-application"
            ><i class="far fa-file-alt me-2"></i>Başvurular</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/admin/admin-blacklist"
            ><i class="fa fa-laptop me-2"></i>Kara Liste</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" (click)="logout()"
            ><i class="fa fa-bars me-2"></i>Çıkış Yap</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
