<div class="bg-light rounded mt-4 border p-5 shadow-lg h-100">
  <div style="display: flex; justify-content: space-evenly; margin-top: 10px">
    <div>
      <h2>Çalışanlar Listesi</h2>
    </div>
    <div>
      <button type="button" class="btn btn-outline-success shadow m-2" routerLink="employee-add">
        Çalışanlar Ekle
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="text-align:center;">Id</th>
          <th scope="col" style="text-align:center;">İsim</th>
          <th scope="col" style="text-align:center;">Soyadı</th>
          <th scope="col" style="text-align:center;">E-Mail</th>
          <th scope="col" style="text-align:center;">Şifre</th>
          <th scope="col" style="text-align:center;">TC.Kimlik</th>
          <th scope="col" style="text-align:center;">Doğum Tarihi</th>
          <th scope="col" style="text-align:center;">Durum</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td style="text-align:center;">{{ employee.id }}</td>
          <td style="text-align:center;">{{ employee.firstName }}</td>
          <td style="text-align:center;">{{ employee.lastName }}</td>
          <td style="text-align:center;">{{ employee.email }}</td>
          <td style="text-align:center;">{{ employee.password }}</td>
          <td style="text-align:center;">{{ employee.nationalIdentity }}</td>
          <td style="text-align:center;">{{ employee.dateOfBirth }}</td>
          <td style="text-align:center;">{{ employee.position }}</td>
          <td>
            <button type="button" class="btn btn-outline-secondary shadow m-1"
              routerLink="employee-detail/{{ employee.id }}">
              Detay
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-warning shadow m-1"
              routerLink="employee-update//{{ employee.id }}">
              Düzenle
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger shadow m-1" (click)="deleteEmployee(employee)">
              Sil
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>