<h3>Çalışanlar Listesi</h3>
<button class="btn btn-primary">Ekle</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">applicantId</th>
      <th scope="col">Tarih</th>
      <th scope="col">Hakkında</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.password }}</td>
      <td>{{ employee.nationalIdentity }}</td>
      <td>{{ employee.dateOfBirth }}</td>
      <td>{{ employee.position }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          routerLink="/employee-detail/{{ employee.id }}"
        >
          Detay
        </button>
      </td>
      <td><button type="button" class="btn btn-warning">Düzenle</button></td>
      <td><button type="button" class="btn btn-danger">Sil</button></td>
    </tr>
  </tbody>
</table>
