<!-- <section class="intro">

  <div class="bg-image h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container" style="height: 723px; ;">
        <div style="display:flex; justify-content:space-evenly; margin-top: 10px;">
          <div style="color:azure">
            <h2>Eğitmen Listesi</h2>
          </div>
          <div>
            <button type="button" class="btn btn-primary" routerLink="instructor-add">
              Eğitimen Ekle
            </button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card mask-custom">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-borderless text-white mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">İsim</th>
                        <th scope="col">Soyisim</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">CompanyName</th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr *ngFor="let instructor of instructors">
                        <td>{{ instructor.id }}</td>
                        <td>{{ instructor.firstName }}</td>
                        <td>{{ instructor.lastName }}</td>
                        <td>{{ instructor.email }}</td>
                        <td>{{ instructor.password }}</td>
                        <td>{{ instructor.companyName }}</td>
                        <td>
                          <button type="button" class="btn btn-primary"
                            routerLink="instructor-detail/{{ instructor.id }}">
                            Detay
                          </button>
                        </td>
                        <td><button type="button" class="btn btn-warning"
                            routerLink="instructor-update/{{instructor.id}}">Düzenle</button></td>
                        <td><button type="button" class="btn btn-danger">Sil</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="bg-light rounded h-100 p-4">
  <div class="mb-4">
    <div style="display:flex; justify-content:space-evenly; margin-top: 10px;">
      <div>
        <h2>Eğitmenler Listesi</h2>
      </div>
      <div>
        <button type="button" class="btn btn-outline-success m-2" routerLink="instructor-add">Eğitmen Ekle</button>

      </div>
    </div>
    <div class="table-responsive">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">İsim</th>
            <th scope="col">Soyisim</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">CompanyName</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let instructor of instructors">
            <td>{{ instructor.id }}</td>
            <td>{{ instructor.firstName }}</td>
            <td>{{ instructor.lastName }}</td>
            <td>{{ instructor.email }}</td>
            <td>{{ instructor.password }}</td>
            <td>{{ instructor.companyName }}</td>
            <td>
              <button type="button" class="btn btn-outline-secondary m-2"
                routerLink="instructor-detail/{{ instructor.id }}">
                Detay
              </button>
            </td>
            <td><button type="button" class="btn btn-outline-warning m-2"
                routerLink="instructor-update/{{instructor.id}}">Düzenle</button></td>
            <td><button type="button" class="btn btn-outline-danger m-2">Sil</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>