html,
body,
.intro {
  height: 100%;
  background: linear-gradient(
    149deg,
    rgb(22, 211, 142) 0%,
    rgb(219, 230, 224) 100%
  );
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 68, 58, 0.03);
}
