@media (max-width: 828px) {
  .responsiveTable {
    font-size: 12px;
    width: 100% !important;
    padding: 0 !important;
    margin-left: 140px !important;
  }
  button {
    padding: 0 !important;
    font-size: 12px;
  }
  table,
  tr,
  td {
    padding: 0 !important;
    margin: 0 !important;
  }
  #res {
    display: none;
  }
}
@media (max-width: 450px) {
  .responsiveTable {
    margin: 0 !important;
    font-size: 12px;
    margin-top: 50px !important;
    width: 100% !important;
    padding: 0 !important;
  }
  table,
  button {
    padding: 0 !important;
    font-size: 10px;
  }
  #res {
    display: none;
  }
}
