<app-responsivenavbar></app-responsivenavbar>

<div
  class="bg-light rounded-5 w-100 p-5 ms-5 border shadow-lg mt-4 h-100 p-4 responsiveTable"
>
  <div class="mb-4">
    <div style="display: flex; justify-content: space-evenly; margin-top: 10px">
      <div>
        <h2 style="margin-left: 180px">Eğitmenler Listesi</h2>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-outline-success shadow m-2"
          routerLink="instructor-add"
        >
          Eğitmen Ekle
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" id="res" style="text-align: center">Id</th>
            <th scope="col" style="text-align: center">İsim</th>
            <th scope="col" style="text-align: center">Soyisim</th>
            <th scope="col" style="text-align: center">Email</th>
            <th scope="col" id="res" style="text-align: center">Password</th>
            <th scope="col" style="text-align: center">CompanyName</th>
            <th colspan="3">
              <input
                type="text"
                placeholder="Eğitmen arayın..."
                class="form-control"
                id="brandFilter"
                [(ngModel)]="filterInstructor"
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let instructor of instructors
                | instructorfilter : filterInstructor
            "
          >
            <td id="res" style="text-align: center">{{ instructor.id }}</td>
            <td style="text-align: center">{{ instructor.firstName }}</td>
            <td style="text-align: center">{{ instructor.lastName }}</td>
            <td style="text-align: center">{{ instructor.email }}</td>
            <td id="res" style="text-align: center">
              {{ instructor.password }}
            </td>
            <td style="text-align: center">{{ instructor.companyName }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-secondary shadow m-2"
                routerLink="instructor-detail/{{ instructor.id }}"
              >
                Detay
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-outline-warning shadow m-2"
                routerLink="instructor-update/{{ instructor.id }}"
              >
                Düzenle
              </button>
            </td>
            <td>
              <button
                type="button"
                (click)="deleteInstructor(instructor.id)"
                class="btn btn-outline-danger shadow m-2"
              >
                Sil
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
