<h3>Eğitmenler Listesi</h3>
<button class="btn btn-primary" routerLink="instructor-add">Ekle</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">İsim</th>
      <th scope="col">Soyisim</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">CompanyName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let instructor of instructors">
      <td>{{ instructor.id }}</td>
      <td>{{ instructor.firstName }}</td>
      <td>{{ instructor.lastName }}</td>
      <td>{{ instructor.email }}</td>
      <td>{{ instructor.password }}</td>
      <td>{{ instructor.companyName }}</td>
      <td>
        <button type="button" class="btn btn-primary" routerLink="instructor-detail/{{ instructor.id }}">
          Detay
        </button>
      </td>
      <td><button type="button" class="btn btn-warning"
          routerLink="/instructor-update/{{instructor.id}}">Düzenle</button></td>
      <td><button type="button" class="btn btn-danger">Sil</button></td>
    </tr>
  </tbody>
</table>