<div class="bg-light mt-4 p-5 border shadow-lg rounded h-100 p-4">
  <div class="mb-4">
    <div style="display: flex; justify-content: space-evenly; margin-top: 10px">
      <div>
        <h2 style="margin-left:180px;">Kara Liste</h2>
      </div>
      <div></div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="text-align: center">Sıra Numarası</th>
            <th scope="col" style="text-align: center">Aday</th>
            <th scope="col" style="text-align: center">Tarih</th>
            <th scope="col" style="text-align: center">
              Kara Listeye Alınma Sebebi
            </th>
            <th colspan="3">
              <input
                type="text"
                placeholder="Kara Liste'de arayın.."
                class="form-control"
                id="brandFilter"
                [(ngModel)]="filterBlacklist"
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let blacklist of blacklists | blacklistfilter : filterBlacklist
            "
          >
            <td style="text-align: center">{{ blacklist.id }}</td>
            <td style="text-align: center">{{ blacklist.applicantId }}</td>
            <td style="text-align: center">{{ blacklist.date }}</td>
            <td style="text-align: center">{{ blacklist.reason }}</td>
    
            <td>
              <button
                (click)="removeApplicant(blacklist.id, blacklist.applicantId)"
                type="button"
                class="btn btn-outline-danger shadow m-2"
              >
                Kara Listeden Çıkar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


