<!-- <form [formGroup]="loginEmployeeForm">
  <h3>Giriş Yap</h3>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>

    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="email"
    />
    <label for="exampleInputEmail1" class="form-label">Şifre</label>

    <input
      type="name"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      formControlName="password"
    />

    <button type="submit" class="btn btn-primary" (click)="loginEmployee()">
      Ekle
    </button>
  </div>
</form> -->
<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login" [formGroup]="loginEmployeeForm">
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input
            type="text"
            class="login__input"
            placeholder="User name / Email"
            formControlName="email"
          />
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input
            type="password"
            class="login__input"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <button
          class="button login__submit"
          type="submit"
          (click)="loginEmployee()"
        >
          <span class="button__text">Log In Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <div class="social-login">
        <h3>log in via</h3>
        <div class="social-icons">
          <a href="#" class="social-login__icon fab fa-instagram"></a>
          <a href="#" class="social-login__icon fab fa-facebook"></a>
          <a href="#" class="social-login__icon fab fa-twitter"></a>
        </div>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
