<!-- Contact Start -->
<div class="row mt-5">
  <div class="col-md-12">
    <div
      class="container shadow rounded-5 p-5 mt-5 mb-5"
      style="background-image: linear-gradient(126deg, #e9e9ff, #e2e7eb)"
    >
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://www.ikiteknik.com/images/anasayfa_slayt/bilgisayar_it_kurslari.png"
            alt=""
          />
        </div>
        <div class="col-md-6">
          <h6 class="text-primary">Bize Ulaşın</h6>
          <h1 class="mb-4">Bizimle İletişim Kurmaktan Çekinmeyin</h1>
          <p class="mb-4">İletişim formu şu anda etkin değil.</p>
          <form>
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                  />
                  <label for="name">Ad Soyad</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="gsm"
                    placeholder="gsm"
                  />
                  <label for="gsm">GSM</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Your Email"
                  />
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a message here"
                    id="message"
                    style="height: 100px"
                  ></textarea>
                  <label for="message">Mesaj</label>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary rounded-pill px-5" type="submit">
                  Gönder
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container contact px-lg-0"
  style="
    background-color: var(--bs-body-bg);
    -webkit-tap-highlight-color: transparen;
  "
></div>

<!-- Contact End -->
<app-home-footer></app-home-footer>
