<!-- Contact Start -->
<div class="row">
  <div class="col-md-12">
    <div
      class="container shadow rounded-5 p-5 mt-5 mb-5"
      style="background-image: linear-gradient(126deg, #e9e9ff, #e2e7eb)"
    >
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://www.ikiteknik.com/images/anasayfa_slayt/bilgisayar_it_kurslari.png"
            alt=""
          />
        </div>
        <div class="col-md-6">
          <h1 class="display-2 mb-5 text-center">
            Teknoloji kariyerine ilk adım: Bootcamp
          </h1>
          <p class="display-6">Ücretsiz öğren, mezun ol, çalışmaya başla.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container contact px-lg-0"
  style="
    background-color: var(--bs-body-bg);
    -webkit-tap-highlight-color: transparen;
  "
>
  <div class="row g-0 mx-lg-0">
    <div class="col-lg-6 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
      <div class="p-lg-5 ps-lg-0">
        <h6 class="text-primary">Bize Ulaşın</h6>
        <h1 class="mb-4">Bizimle İletişim Kurmaktan Çekinmeyin</h1>
        <p class="mb-4">İletişim formu şu anda etkin değil.</p>
        <form>
          <div class="row g-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                />
                <label for="name">Ad Soyad</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="gsm"
                  placeholder="gsm"
                />
                <label for="gsm">GSM</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Your Email"
                />
                <label for="email">Email</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a message here"
                  id="message"
                  style="height: 100px"
                ></textarea>
                <label for="message">Mesaj</label>
              </div>
            </div>
            <div class="col-12">
              <button
                class="btn btn-primary rounded-pill py-3 px-5"
                type="submit"
              >
                Gönder
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-6 pe-lg-0" style="min-height: 400px">
      <div class="" style="margin-top: 200px; width: 500px; margin-left: 60px">
        <h1>TEKNOKENT</h1>
        <div class="mb-4">
          Ostim Osb. Mahallesi 100.Yıl Bulvarı Prestij İş Blokları E Blok
          No:55/47 Ostim Teknopark Turkuaz Bina Yenimahalle/Ankara
        </div>
        <div class="mb-4">+90 312 543 65 12</div>
        <div class="mb-4">"info@kosturmacateam.net"</div>
      </div>
    </div>
  </div>
</div>

<!-- Contact End -->
<app-home-footer></app-home-footer>
