<div>
  <div class="row">
    <div class="me-auto ms-auto">
      <div class="col-md-12 text-center">
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <input type="radio" name="position" checked />
        <input type="radio" name="position" />
        <input type="radio" name="position" />
        <main id="carousel">
          <div class="item shadow-lg"></div>
          <div class="item shadow-lg"></div>
          <div class="item shadow-lg"></div>
          <div class="item shadow-lg"></div>
          <div class="item shadow-lg"></div>
        </main>
      </div>
    </div>
  </div>

  <div class="row">
    <section class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
            <div
              class="card text-white card-has-bg click-col"
              style="
                background-image: url('https://source.unsplash.com/600x900/?tech,street');
              "
            >
              <img
                class="card-img d-none"
                src="https://source.unsplash.com/600x900/?tech,street"
                alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
              />
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <small class="card-meta mb-2">Thought Leadership</small>
                  <h4 class="card-title mt-0">
                    <a class="text-white" herf="#"
                      >Goverment Lorem Ipsum Sit Amet Consectetur dipisi?</a
                    >
                  </h4>
                  <small><i class="far fa-clock"></i> October 15, 2020</small>
                </div>
                <div class="card-footer">
                  <div class="media">
                    <img
                      class="mr-3 rounded-circle"
                      src="https://assets.codepen.io/460692/internal/avatars/users/default.png"
                      alt="Generic placeholder image"
                      style="max-width: 50px"
                    />
                    <div class="media-body">
                      <h6 class="my-0 text-white d-block">Oz Coruhlu</h6>
                      <small>Director of UI/UX</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
            <div
              class="card text-white card-has-bg click-col"
              style="
                background-image: url('https://source.unsplash.com/600x900/?tree,nature');
              "
            >
              <img
                class="card-img d-none"
                src="https://source.unsplash.com/600x900/?tree,nature"
                alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
              />
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <small class="card-meta mb-2">Thought Leadership</small>
                  <h4 class="card-title mt-0">
                    <a class="text-white" herf="#"
                      >Goverment Lorem Ipsum Sit Amet Consectetur dipisi?</a
                    >
                  </h4>
                  <small><i class="far fa-clock"></i> October 15, 2020</small>
                </div>
                <div class="card-footer">
                  <div class="media">
                    <img
                      class="mr-3 rounded-circle"
                      src="https://assets.codepen.io/460692/internal/avatars/users/default.png"
                      alt="Generic placeholder image"
                      style="max-width: 50px"
                    />
                    <div class="media-body">
                      <h6 class="my-0 text-white d-block">Oz Coruhlu</h6>
                      <small>Director of UI/UX</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
            <div
              class="card text-white card-has-bg click-col"
              style="
                background-image: url('https://source.unsplash.com/600x900/?computer,design');
              "
            >
              <img
                class="card-img d-none"
                src="https://source.unsplash.com/600x900/?computer,design"
                alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
              />
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <small class="card-meta mb-2">Thought Leadership</small>
                  <h4 class="card-title mt-0">
                    <a class="text-white" herf="#"
                      >Goverment Lorem Ipsum Sit Amet Consectetur dipisi?</a
                    >
                  </h4>
                  <small><i class="far fa-clock"></i> October 15, 2020</small>
                </div>
                <div class="card-footer">
                  <div class="media">
                    <img
                      class="mr-3 rounded-circle"
                      src="https://assets.codepen.io/460692/internal/avatars/users/default.png"
                      alt="Generic placeholder image"
                      style="max-width: 50px"
                    />
                    <div class="media-body">
                      <h6 class="my-0 text-white d-block">Oz Coruhlu</h6>
                      <small>Director of UI/UX</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
