<section class="intro">

  <div class="bg-image h-100"
    style="background-image: url(https://mdbootstrap.com/img/Photos/new-templates/glassmorphism-article/img7.jpg);">
    <div class="mask d-flex align-items-center h-100">
      <div class="container" style="height: 723px; ;">
        <div style="display:flex; justify-content:space-evenly; margin-top: 10px;">
          <div style="color:azure">
            <h2>Başvurular Listesi</h2>
          </div>
          <div>
            <button type="button" class="btn btn-primary" routerLink="application-add">
              Başvuru Ekle
            </button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card mask-custom">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-borderless text-white mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">User Id</th>
                        <th scope="col">Bootcamp Id</th>
                        <th scope="col">State</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let application of applications">
                        <td>{{ application.id }}</td>
                        <td>{{ application.userId }}</td>
                        <td>{{ application.bootcampId }}</td>
                        <td>{{ application.state }}</td>

                        <td>
                          <button type="button" class="btn btn-primary"
                            routerLink="application-detail/{{ application.id }}">
                            Detay
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-warning"
                            routerLink="/application-update/{{ application.id }}">
                            Düzenle
                          </button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger" (click)="deleteApplication(application)">
                            Sil
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>