<div class="bg-light mt-4 p-5 border shadow-lg rounded h-100 p-4">
  <div class="mb-4">
    <div style="display: flex; justify-content: space-evenly; margin-top: 10px">
      <div>
        <h2>Başvurular Listesi</h2>
      </div>
      <div>
        <button type="button" class="btn btn-outline-success shadow m-2" routerLink="application-add">
          Başvuru Ekle
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="text-align:center;">Id</th>
            <th scope="col" style="text-align:center;">User Id</th>
            <th scope="col" style="text-align:center;">Bootcamp Id</th>
            <th scope="col" style="text-align:center;">State</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let application of applications">
            <td style="text-align:center;">{{ application.id }}</td>
            <td style="text-align:center;">{{ application.userId }}</td>
            <td style="text-align:center;">{{ application.bootcampId }}</td>
            <td style="text-align:center;">{{ application.state }}</td>

            <td>
              <button type="button" class="btn btn-outline-danger shadow m-2"
                routerLink="application-detail/{{ application.id }}">
                Detaya Git
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-warning shadow m-2"
                routerLink="application-update/{{ application.id }}">
                Düzenle
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-secondary shadow m-2"
                (click)="deleteApplication(application)">
                Başvuru Sil
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>