<div class="row mt-5">
  <div class="col-md-12">
    <div
      class="container shadow rounded-5 p-5 mt-5 mb-5"
      style="background-image: linear-gradient(126deg, #e9e9ff, #e2e7eb)"
    >
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-2 mb-5 text-center">Bootcamp Eğitimcilerimiz</h1>
          <p class="display-6">
            Alanında Uzman Eğiticilerimizi ile Bootcamp'lere gönül rahatlığıyla
            katılabilirsiniz.
          </p>
        </div>
        <div class="col-md-6">
          <img
            src="https://yazilimkursuankara.com/images/anasayfa_slayt/cizim_tasarim_kurslari.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <section>
      <div class="container">
        <div class="row">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="wrapper">
                <div class="profile-card">
                  <div class="profile-header">
                    <img
                      src="https://i.imgur.com/X2oObC4.png"
                      class="rounded-5"
                      alt=""
                    />
                  </div>
                  <div class="profile-body">
                    <div class="author-img">
                      <img
                        src="https://yt3.ggpht.com/ytc/AMLnZu-0ZFlPJSSrc3HL_kNOY5LtHysire2aNCP72z-H6w=s900-c-k-c0x00ffffff-no-rj"
                        class="img-thumbnail"
                        alt=""
                      />
                    </div>
                    <div class="name">Engin DEMİROĞ</div>
                    <div class="intro">
                      <p>
                        I started software development in high school. I have
                        studied Management Information Systems
                        (Undergraduate-Scholarship) and Medical Informatics
                        (Master) in Başkent and METU
                      </p>
                    </div>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a href="#">
                            <i class="fab fa-linkedin"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-twitter"></i>
                          </a>
                        </li>

                        <li>
                          <a href="#">
                            <i class="fab fa-instagram"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="wrapper">
                <div class="profile-card">
                  <div class="profile-header">
                    <img
                      src="https://i.imgur.com/X2oObC4.png"
                      class="rounded-5"
                      alt=""
                    />
                  </div>
                  <div class="profile-body">
                    <div class="author-img">
                      <img
                        src="https://yt3.ggpht.com/ytc/AMLnZu-0ZFlPJSSrc3HL_kNOY5LtHysire2aNCP72z-H6w=s900-c-k-c0x00ffffff-no-rj"
                        class="img-thumbnail"
                        alt=""
                      />
                    </div>
                    <div class="name">Engin DEMİROĞ</div>
                    <div class="intro">
                      <p>
                        I started software development in high school. I have
                        studied Management Information Systems
                        (Undergraduate-Scholarship) and Medical Informatics
                        (Master) in Başkent and METU
                      </p>
                    </div>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a href="#">
                            <i class="fab fa-linkedin"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-twitter"></i>
                          </a>
                        </li>

                        <li>
                          <a href="#">
                            <i class="fab fa-instagram"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="wrapper">
                <div class="profile-card">
                  <div class="profile-header">
                    <img
                      src="https://i.imgur.com/X2oObC4.png"
                      class="rounded-5"
                      alt=""
                    />
                  </div>
                  <div class="profile-body">
                    <div class="author-img">
                      <img
                        src="https://yt3.ggpht.com/ytc/AMLnZu-0ZFlPJSSrc3HL_kNOY5LtHysire2aNCP72z-H6w=s900-c-k-c0x00ffffff-no-rj"
                        class="img-thumbnail"
                        alt=""
                      />
                    </div>
                    <div class="name">Engin DEMİROĞ</div>
                    <div class="intro">
                      <p>
                        I started software development in high school. I have
                        studied Management Information Systems
                        (Undergraduate-Scholarship) and Medical Informatics
                        (Master) in Başkent and METU
                      </p>
                    </div>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a href="#">
                            <i class="fab fa-linkedin"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-twitter"></i>
                          </a>
                        </li>

                        <li>
                          <a href="#">
                            <i class="fab fa-instagram"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<app-home-footer></app-home-footer>
