<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-home me-2"></i>Admin Paneli</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <!-- <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;"> -->
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a routerLink="" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

            <a routerLink="admin-applicant" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Adaylar</a>
            <a routerLink="admin-instructor" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Eğitmenler</a>
            <a routerLink="admin-employee" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Çalışanlar</a>
            <a routerLink="admin-bootcamp" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Bootcamp</a>
            <a routerLink="admin-application" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Başvurular</a>
            <a routerLink="admin-blacklist" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Kara Liste</a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="far fa-file-alt me-2"></i>Pages</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="signin.html" class="dropdown-item">Sign In</a>
                    <a href="signup.html" class="dropdown-item">Sign Up</a>
                    <a href="404.html" class="dropdown-item">404 Error</a>
                    <a href="blank.html" class="dropdown-item">Blank Page</a>
                </div>
                <div class="navbar-nav w-100"> <a routerLink="" class="nav-item nav-link"><i
                            class="fa fa-th me-2"></i>Çıkış Yap</a>
                </div>
            </div>
        </div>
    </nav>
</div>