<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Başvuru Ekle</title>
</head>

<body>
  <form [formGroup]="applicationAddForm" method="post" class="shadow mt-4 border">
    <h1>Başvuru Ekle</h1>

    <fieldset>
      <label for="name">Ad:</label>
      <input formControlName="applicantId" type="number" id="name" name="user_name"
        placeholder="applicantId Id Giriniz.." />
    </fieldset>
    <fieldset>
      <label for="name">bootcampId:</label>
      <input formControlName="bootcampId" type="number" id="name" name="user_name"
        placeholder="bootcampId Id Giriniz.." />
    </fieldset>
    <fieldset>
      <label for="name">State:</label>
      <input formControlName="state" type="text" id="name" name="user_name" placeholder="1:Uygun - 2:Uygun Değil.." />
    </fieldset>

    <div class="row">
      <div class="col-md-6">
        <button class="button" routerLink="/admin/admin-application" type="submit">
          Geri Dön
        </button>
      </div>
      <div class="col-md-6">
        <button class="buttonA" (click)="add()" routerLink="/admin/admin-application" type="submit">
          Başvuru Ekle
        </button>
      </div>
    </div>
  </form>
</body>

</html>