<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Başvuru Ekle</title>
</head>

<body>
  <form [formGroup]="applicationAddForm" method="post" class="shadow mt-4 border">
    <h1>Başvuru Ekle</h1>


    <fieldset>
      <label for="name">Başvuran İsmi:</label>
      <select id="userId" formControlName="userId" class="form-select rounded-0">
        <option type="number" [value]="null" disabled hidden></option>
        <option type="number" *ngFor="let applicant of applicants" [value]="applicant.id">
          {{ applicant.firstName }} {{ applicant.lastName }}
        </option>
      </select>
    </fieldset>
    <fieldset>
      <label for="name">Bootcamp İsmi:</label>
      <select id="bootcampId" formControlName="bootcampId" class="form-select rounded-0">
        <option type="number" [value]="null" disabled hidden></option>
        <option type="number" *ngFor="let bootcamp of bootcamps" [value]="bootcamp.id">
          {{ bootcamp.name }}
        </option>
      </select>
    </fieldset>
    <fieldset>
      <label for="name">State:</label>
      <input formControlName="state" type="number" id="name" name="user_name" placeholder="1:Uygun - 2:Uygun Değil.." />
    </fieldset>

    <div class="row">
      <div class="col-md-6">
        <button class="button" routerLink="/admin/admin-application" type="submit">
          Geri Dön
        </button>
      </div>
      <div class="col-md-6">
        <button class="buttonA" (click)="add()" type="submit">
          Başvuru Ekle
        </button>
      </div>
    </div>
  </form>
</body>

</html>