<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Bootcamp Ekle</h5>
      </div>
      <div class="card-body">
        <!-- [formGroup]="carAddForm" ile map işlemini yapmış oluruz. -->
        <form [formGroup]="bootcampAddForm">
          <div style="margin-top: 5px" class="form-group">
            <!-- anguların önemsediği kısım formControlName dir. İlişkilendirmeyi bunun üzerinden yapar. -->
            <input type="number" id="instructorId" formControlName="instructorId" class="form-control"
              placeholder="Eğitmen Id Giriniz..." />
          </div>
          <div style="margin-top: 5px" class="form-group">
            <input type="text" id="name" formControlName="name" class="form-control"
              placeholder="Bootcamp İsmini Giriniz..." />
          </div>
          <div style="margin-top: 5px" class="form-group">
            <input type="text" id="dateStart" formControlName="dateStart" class="form-control"
              placeholder="Bootcamp Başlangıç Tarihi Giriniz..." />
          </div>
          <div style="margin-top: 5px" class="form-group">
            <input type="text" id="dateEnd" formControlName="dateEnd" class="form-control"
              placeholder="Bootcamp Bitiş Tarihi Giriniz..." />
          </div>
          <div style="margin-top: 5px" class="form-group">
            <input type="text" id="state" formControlName="state" class="form-control"
              placeholder="Bootcamp Durumu Giriniz..." />
          </div>
        </form>
      </div>
      <div class="car-footer">
        <div class="d-grid gap-2">
          <button style="margin-bottom: 10px; margin-left: 15px; margin-right: 15px" class="btn btn-primary"
            type="button" (click)="add()" routerLink="/admin/admin-bootcamp">
            Ekle
          </button>
          <button style="margin-bottom: 10px; margin-left: 15px; margin-right: 15px" class="btn btn-primary"
            type="button" routerLink="/admin/admin-bootcamp">
            Geri Dön
          </button>
        </div>
      </div>
    </div>
  </div>
</div>